<footer>
  <div class="container">
    <div class="row pre-footer">
      <div class="col-md-3">
        <h4>Social Links</h4>
        <ul class="list-inline list-unstyled">
             <li>
               <a href="https://www.facebook.com/TechResourceInc" >
                 <i class="fa fa-facebook fa-fw fa-2x encircle"></i>
               </a>
             </li>
             <li>
               <a href="https://github.com/ash20sc/techresourceph.com">
                 <i class="fa fa-github fa-fw fa-2x encircle"></i>
               </a>
             </li>
             <li>
               <a href="https://www.linkedin.com/pub/techresource-inc-careers/ba/402/833" >
                 <i class="fa fa-linkedin fa-fw fa-2x encircle"></i>
               </a>
             </li>
         </ul>
      </div>
      <div class="col-md-3">
        <h4>Contact Us</h4>
        <address>
          <strong>TechResource, Inc.</strong><br>
          Unit 18-B, Trafalgar Plaza, 105 H.V Dela Costa St., Salcedo Village,<br>
          Makati City, Manila, 1227 Philippines<br>
          <abbr title="Phone">P:</abbr> +63-2-551-8669 <br>
          <abbr title="E-mail">M:</abbr><a href="mailto:#"> info@techresourceph.com</a> <br>
          <abbr title="Fax">F:</abbr><a href="mailto:#"> +63-2-551-8669</a> <br>
        </address>
      </div>
      <div class="col-md-3">
        <h4>Visit Our Offices</h4>
        <ul class="list-unstyled">
          <li><span class="glyphicon glyphicon-map-marker "></span> Makati City</li>
          </li><span class="glyphicon glyphicon-map-marker "></span> Clark, Pampanga</li>
        </ul>
      </div>
      <div class="col-md-3">
        <br>
        <a>English</a> | <a>Japanse</a>
      </div>
    </div>
    <hr>
    <div class="row copyright-footer">
      <div class="col-md-12 text-center">
          <p class="text-muted">Copyright © TechResource 2015. All Rights Reserved | beta version 1.0 made with <span class="glyphicon glyphicon-heart"></span> by TR</p>
      </div>
    </div>
</div>
</footer>
