<div class="container-fluid sec-header">
    <div class="row">
      <div class="col-md-12 text-center">
      <div class="hero-unit">
      <h1>TechResource - Software and Support Provider</h1>
        <p><em>-of-</em></p>
        <p class="lead">PBX Cloud softwars, Clients etc, Call Center Software solutioins etc. .</p>
        <p>
          <a class="btn btn-primary btn-large">
            Learn more
          </a>
        </p>
      </div>
      </div>
    </div>
  </div>
